:root {
	--base-font-size: calc(1vmin * 4);
}

body {
	margin: 0;
	color: #000;
	background-color: #61ACE6;
	background-image: url('images/background.jpg');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	font-family: "Georgia", "Times New Roman", serif;
}

.font-xl {
	font-size: calc(var(--base-font-size) * 2.2);
}

.font-large {
	font-size: calc(var(--base-font-size) * 1.66);
}

.font-medium {
	font-size: var(--base-font-size);
}

.name {
	margin-bottom: -10px;
}

.contact {
	margin-top: -10px;
}

.contact p {
	margin-bottom: 5px;
}

a {
	color: rgb(23, 64, 96);
}

a:hover {
	color: rgb(46, 128, 192);
}

.hide {
	display: none
}

hr {
	border: solid 1px #000000;
	margin-top: 0;
	margin-bottom: 10px;
}

.panel {
	border: 3px solid #000;
	border-radius: 15px 15px 15px 15px;
	padding: 10px;
	text-align: center;
	box-shadow: rgba(30, 30, 30, 0.3) 0px 0px 5px 5px;
	background-color: rgba(181, 206, 224, 0.85);
	max-width: 60%;
	margin-bottom: 50px;
}

@media only screen and (max-width: 620px) {
	.panel {
		max-width: 90%;
	}
}

.store-link img {
	width: 200px;
}

.content {
	text-align: left;
}
