body {
	margin: 0;
	color: #000;
	background-color: #61ACE6;
	background-image: url('images/white_rocks.jpg');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.name {
	font-size: 80px;
	font-family: "Times New Roman", serif;
	margin-bottom: -10px;
}

.contact {
	font-family: "Georgia", "Times New Roman", serif;
	font-size: 30px;
	margin-top: -10px;
}

.contact p {
	margin-bottom: 5px;
}

a {
	color: rgb(100,128,255);
}

.hide { display:none }

.wrap {
	overflow:hidden;
	position:relative;
	z-index:0;
}

.center-outer{
	position:relative;
	left:50%;
	float:left;
	clear:both;
}

.center-inner{
	position:relative;
	left:-50%;
}

.alpha-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background: rgb(176,214,243);
	background: rgba(255,255,255, .5);
	border: 3px solid white;
	border-radius: 15px 15px 15px 15px;
	padding: 10px;
	padding-top: 0;
	text-align:center;
}

hr {
	border: solid 1px #000000;	
	margin-top: 0;
	margin-bottom: 10px;
}

a:hover {
	background: rgb(192,222,245);
	background: rgba(255,255,255,.2);
}
